*{
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    max-width: 1430px;
    height: 100%;
    margin: auto;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    font-weight: 300;
    font-size: 250px;
    line-height: 230px;
    color: #272727;
    
}
h2 {
    font-weight: 400;
    font-size: 72px;
    line-height: 112.5%;
    text-align: center;
    color: #000000;
}
h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}
h4 {
    font-weight: 400;
    font-size: 32px;
    line-height: 186%;
    text-align: center;
    text-transform: capitalize;
    color: #161515;
    padding: 97px 0px 57px 0px;
    position: relative;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    transition: 1s all ease ease-in-out;
    background: rgb(255, 255, 255);
}

/*main block start*/
.main__block {
    margin: 0;
    max-width: 1430px;
    width: 100%;
    background: #F8F8F8;
    display: grid;
    grid-template-columns: 55% 45%;
}

.main__information {
    padding: 100px 40px 221px 130px;
}

.title__date {
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
    color: #161515;
    margin: 0;
    padding: 0px 0px 53px 0px;
}

.main__description {
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    color: #161515;
    padding: 40px 0 61px 0px;
    max-width: 575px;
    margin-inline: auto;
}

.main_button {
    background: #161515;
    font-weight: 300;
    font-size: 32px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
    padding: 26px 74px 35px 73px;  
    max-height: 82px;
    display: inline-block;
    margin: 0;
}
.main_button:hover {
    background: #474646;
    text-decoration: underline;
    transition: 0.1s all ease-in-out;
    border: 2px solid black;
    transform: translateY(3px);
}

.main__price {
    font-weight: 300;
    font-size: 32px;
    line-height: 186%;
    text-align: center;
    color: #272727;
    padding: 13px 27px 21px 21px;
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgba(214, 214, 214, 0.25);
    max-width: 143px;
    max-height: 82px;
    display: inline-block;
    margin: 0;
}

.main__watchIMG1 {
    display: block;
    max-width: 408px;
    height: 100%;
}
/*main block end*/
/*secondary block start*/
.secondary__block {
    text-align: center;
    margin: 0;
}

.SB__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
    color: #000000;
    margin: 0;
}

.SB__watchIMG2 {
    margin: 84px 0px 72px 0px;
    padding: 60px 110px 60px 71px;
    background: #F8F8F8;
}

.SB__brend {
    margin-top: 72px;
}
/*general description settings*/
.SB__description {
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    color: #161515;
    max-width: 530px;
    margin-inline: auto;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.SB__watchIMG3 {
    margin: 85px 0px 67px 0px;
    padding: 65px 2px;
    background: #F8F8F8;
}

h4::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 620px;
    bottom: 50px;
    max-width: 178px;
    background: #707070;
}
h4:hover::before {
    background: orange;
    transition: 0.3s all ease-in-out;
}

.SB__prodDescription {
    font-weight: 300;
    font-size: 24px;
    line-height: 170%;
    text-align: center;
    color: #161515;
    max-width: 515px;
    margin-inline: auto;
}

.link__Sw12 {
    color: #BB8B5D;
    text-decoration: underline;
}
.link__Sw12:hover {
    color: orange;
    transform: translateZ(2px);
}
/*secondary block end*/

@media (max-width:1430px) {
    .main__block {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "line_1"
        "line_2";
        text-align: center;
    }
    .main__information {
        grid-area: line_1;
        padding: 80px 20px 100px 40px;
    }
    .main__watchIMG1 {
        grid-area: line_2;
        margin-inline: auto;
    }
    h1 {
        font-size: 200px;
        line-height: 180px;
    }
    img {
        max-width: 350px;
    }
}

@media (max-width:600px) {
    .container {
        padding: 10px 40px 30px 30px;
    }
    .main__information {
        padding: 40px 10px 50px 20px;
    }
    h1{
        font-size: 100px;
        line-height: 90px;
        padding: 37px 0px 17px 0px;
    }
    .main__watchIMG1 img{
        max-width: 200px;
    }
    .main__description {
        padding: 10px 0 21px 0px;
        font-size: 18px;
    }
    .title__date {
        padding: 0px 0px 8px 0px;
    }
    h2 {
        font-size: 36px;
    }
    .main_button {
        padding: 15px 45px 18px 45px;
        font-size: 18px;
    }
    .main__price {
        padding: 15px 27px 17px 25px;
        font-size: 18px;
    }
    .SB__brend {
        font-size: 22px;
        margin: 0;
    }
    .SB__description {
        font-size: 18px;
    }
    .SB__watch2 img{
        margin: 44px 0px 32px 0px;
        padding: 30px 50px 30px 35px;
        max-width: 220px;
    }
    .SB__watch3 img{
        margin: 44px 0px 32px 0px;
        padding: 30px 30px 30px 20px;
        max-width: 250px;
    }
    .SB__prodDesc {
        padding: 25px 2px;
    }
    .SB__prodDescription {
        font-size: 18px;
    }
}